<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  
  <div class="row">
    <aside class="col-sm-4">
      <%= link_to '新規タスクの登録', new_task_path, class: 'btn btn-lg btn-primary' %>
    </aside>
    <div class="col-sm-8">
      <%= render 'tasks/task', tasks: @tasks %>
    </div>
  </div>
<% else %>

  <div class="center jumbotron">
    <div class="text-center">
      <h1>課題タスクリスト</h1>
      <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>