<div class=wrapper>
  <div class="title">
    <h1>新規タスク作成</h1>
  </div>
  <div class="task-new">
    <%= form_with(model: @task, local: true) do |f| %>
      <%= f.label :content, '新規タスク' %>
      <%= f.text_field :content %>
    
      <%= f.submit '登録' %>
    <% end %>
  </div>
</div>
